html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: rgb(15, 15, 15);
}
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(169, 165, 145);
}
body::-webkit-scrollbar-thumb:hover {
  background-color: rgb(145, 141, 122);
}

body .main-text {
  margin-top: 20px;
  font-size: 50px;
  color: rgb(69, 65, 56);
  text-align: center;
}

.s1 .container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  margin-bottom: 100px;
}
.s1 .container button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 25px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-transition: background-color 0.15s, margin-right 0.6s, margin-left 0.6s, -webkit-transform 0.6s;
  transition: background-color 0.15s, margin-right 0.6s, margin-left 0.6s, -webkit-transform 0.6s;
  transition: background-color 0.15s, transform 0.6s, margin-right 0.6s, margin-left 0.6s;
  transition: background-color 0.15s, transform 0.6s, margin-right 0.6s, margin-left 0.6s, -webkit-transform 0.6s;
  color: white;
}
.s1 .container button:hover {
  background-color: rgba(65, 65, 65, 0.701);
}
.s1 .container .prev-btn {
  margin-right: 20px;
}
.s1 .container .next-btn {
  margin-left: 20px;
}
.s1 .container .book {
  position: relative;
  width: 400px;
  height: 530px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.s1 .container .book .paper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-perspective: 1500px;
          perspective: 1500px;
}
.s1 .container .book .paper .front,
.s1 .container .book .paper .back {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  border-left: 2px solid rgb(15, 15, 15);
}
.s1 .container .book .paper .front .front-content,
.s1 .container .book .paper .front .back-content,
.s1 .container .book .paper .back .front-content,
.s1 .container .book .paper .back .back-content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgb(183, 170, 157);
  font-family: "ITC Benguiat Std", sans-serif;
}
.s1 .container .book .paper .front #b1 a,
.s1 .container .book .paper .back #b1 a {
  color: black;
  text-decoration: none;
}
.s1 .container .book .paper .front #b1 h1,
.s1 .container .book .paper .back #b1 h1 {
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  padding: 15px;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  border-radius: 17% 83% 21% 79%/61% 25% 75% 39%;
}
.s1 .container .book .paper .front #b1 h1:hover,
.s1 .container .book .paper .back #b1 h1:hover {
  background-color: rgba(143, 128, 113, 0.635);
}
.s1 .container .book .paper .front #f1,
.s1 .container .book .paper .back #f1 {
  background-color: transparent;
  background-image: url(../images/grimore-wiess.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.s1 .container .book .paper .front .back-content,
.s1 .container .book .paper .back .back-content {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.s1 .container .book .paper .front {
  z-index: 1;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.s1 .container .book .paper .back {
  z-index: 0;
}
.s1 .container .book .flipped .front,
.s1 .container .book .flipped .back {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
.s1 .container .book #p1 {
  z-index: 3;
}
.s1 .container .book #p2 {
  z-index: 2;
}
.s1 .container .book #p3 {
  z-index: 1;
}

#hills-body {
  position: relative;
}
#hills-body .background {
  position: fixed;
  z-index: -1;
  right: 0;
  bottom: -65px;
  opacity: 0.7;
  max-width: 1024px;
  width: 100%;
  right: -1024px;
  bottom: 560px;
}
#hills-body .background img {
  max-width: 1024px;
  width: 100%;
}
#hills-body .background .blobs {
  max-width: 1024px;
  width: 100%;
}
@media (max-width: 1030px) {
  #hills-body .background .blobs {
    display: none;
  }
}
#hills-body .background .blobs .blob1 {
  height: 358px;
  max-width: 358px;
  width: 100%;
  background-color: #9b977f;
  border-radius: 77% 23% 86% 14%/46% 17% 83% 54%;
  position: absolute;
  top: 0;
  left: 20px;
  z-index: -51;
  border-left: 5px solid rgb(204, 200, 177);
  border-top: 5px solid rgb(204, 200, 177);
  opacity: 0;
}
#hills-body .background .blobs .blob2 {
  height: 358px;
  max-width: 358px;
  width: 100%;
  background-color: #9b977f;
  border-radius: 9% 91% 0% 100%/65% 72% 28% 35%;
  position: absolute;
  bottom: 0;
  left: 50px;
  z-index: -52;
  border-left: 5px solid rgb(204, 200, 177);
  opacity: 0;
}
#hills-body .background .blobs .blob3 {
  height: 358px;
  max-width: 358px;
  width: 100%;
  background-color: #817d67;
  border-radius: 84% 16% 39% 61%/35% 38% 62% 65%;
  position: absolute;
  bottom: 150px;
  left: 260px;
  z-index: -50;
  opacity: 0;
}
#hills-body .background .blobs .blob4 {
  height: 358px;
  max-width: 358px;
  width: 100%;
  background-color: #9b977f;
  border-radius: 100% 0% 100% 0%/100% 0% 100% 0%;
  position: absolute;
  top: -130px;
  -webkit-transform: rotate(200deg);
      -ms-transform: rotate(200deg);
          transform: rotate(200deg);
  left: 260px;
  z-index: -55;
  border-bottom: 5px solid rgb(204, 200, 177);
  opacity: 0;
}
#hills-body .background .blobs .blob5 {
  height: 358px;
  max-width: 358px;
  width: 100%;
  background-color: #817d67;
  border-radius: 86% 14% 69% 31%/90% 59% 41% 10%;
  position: absolute;
  top: 0px;
  -webkit-transform: rotate(440deg);
      -ms-transform: rotate(440deg);
          transform: rotate(440deg);
  left: 590px;
  z-index: -50;
  opacity: 0;
}
#hills-body .background .blobs .blob6 {
  height: 358px;
  max-width: 358px;
  width: 100%;
  background-color: #9b977f;
  border-radius: 84% 16% 39% 61%/35% 38% 62% 65%;
  position: absolute;
  top: -150px;
  right: 50px;
  z-index: -55;
  border-top: 5px solid rgb(204, 200, 177);
  border-right: 5px solid rgb(204, 200, 177);
  opacity: 0;
}
#hills-body .background .blobs .blob7 {
  height: 358px;
  max-width: 358px;
  width: 100%;
  background-color: #9b977f;
  border-radius: 84% 16% 56% 44%/30% 29% 71% 70%;
  position: absolute;
  top: -50px;
  right: -200px;
  z-index: -55;
  border-top: 5px solid rgb(204, 200, 177);
  opacity: 0;
}
#hills-body .background .blobs .blob8 {
  height: 358px;
  max-width: 358px;
  width: 100%;
  background-color: #817d67;
  border-radius: 55% 45% 23% 77%/30% 74% 26% 70%;
  position: absolute;
  bottom: -20px;
  right: -200px;
  z-index: -50;
  opacity: 0;
}
#hills-body .background .blobs .final-blob {
  height: 615px;
  max-width: 665px;
  width: 100%;
  background-color: #817d67;
  position: absolute;
  bottom: -272px;
  right: -10px;
  z-index: -100;
  opacity: 1;
  border-radius: 55% 45% 23% 77%/30% 74% 26% 70%;
}
#hills-body .background.Background-active {
  opacity: 0.7;
  right: 0;
  bottom: 0;
}
#hills-body .background.Background-active img {
  position: relative;
  -webkit-animation: fadeIn 3s ease 1;
          animation: fadeIn 3s ease 1;
  opacity: 1;
  right: 0;
  bottom: -70px;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    bottom: -110px;
    right: -40px;
  }
  to {
    opacity: 1;
    right: 0;
    bottom: -70px;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    bottom: -110px;
    right: -40px;
  }
  to {
    opacity: 1;
    right: 0;
    bottom: -70px;
  }
}
#hills-body .background.Background-active .blobs .blob1 {
  opacity: 1;
  -webkit-animation: appear1 0.5s ease 1;
          animation: appear1 0.5s ease 1;
}
@-webkit-keyframes appear1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes appear1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#hills-body .background.Background-active .blobs .blob2 {
  opacity: 1;
  -webkit-animation: appear1 1s ease 1;
          animation: appear1 1s ease 1;
}
@keyframes appear1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#hills-body .background.Background-active .blobs .blob4 {
  opacity: 1;
  -webkit-animation: appear1 1.5s ease 1;
          animation: appear1 1.5s ease 1;
}
@keyframes appear1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#hills-body .background.Background-active .blobs .blob3 {
  opacity: 1;
  -webkit-animation: appear1 2s ease 1;
          animation: appear1 2s ease 1;
}
@keyframes appear1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#hills-body .background.Background-active .blobs .blob6 {
  opacity: 1;
  -webkit-animation: appear1 2.5s ease 1;
          animation: appear1 2.5s ease 1;
}
@keyframes appear1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#hills-body .background.Background-active .blobs .blob5 {
  opacity: 1;
  -webkit-animation: appear1 3s ease 1;
          animation: appear1 3s ease 1;
}
@keyframes appear1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#hills-body .background.Background-active .blobs .blob6 {
  opacity: 1;
  -webkit-animation: appear1 3.5s ease 1;
          animation: appear1 3.5s ease 1;
}
@keyframes appear1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#hills-body .background.Background-active .blobs .blob7 {
  opacity: 1;
  -webkit-animation: appear1 3.5s ease 1;
          animation: appear1 3.5s ease 1;
}
@keyframes appear1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#hills-body .background.Background-active .blobs .blob8 {
  opacity: 1;
  -webkit-animation: appear1 3.5s ease 1;
          animation: appear1 3.5s ease 1;
}
@keyframes appear1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.audio-heeader {
  padding: 20px;
}

.audio-container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
  position: fixed;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  z-index: 100000;
  -webkit-transition: top 1s;
  transition: top 1s;
}
.audio-container .hills {
  cursor: pointer;
  max-width: 300px;
  width: 100%;
  -webkit-transition: max-width 0.5s;
  transition: max-width 0.5s;
}
.audio-container .hills::-webkit-media-controls-panel {
  background-color: rgb(204, 200, 177);
  border-radius: 0;
}
.audio-container .hills:hover ~ .audio-name {
  height: 80px;
  max-width: 300px;
  bottom: 0px;
}
.audio-container .hills:hover ~ .audio-name p {
  opacity: 1;
}
.audio-container .audio-name {
  height: 0px;
  max-width: 300px;
  width: 100%;
  background-color: rgb(204, 200, 177);
  position: absolute;
  z-index: -1;
  bottom: 14px;
  border-radius: 30px;
  padding: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.audio-container .audio-name:hover {
  height: 80px;
  max-width: 300px;
  bottom: 0px;
}
.audio-container .audio-name:hover p {
  opacity: 1;
}
.audio-container .audio-name p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  opacity: 0;
}

.lyrics {
  margin-top: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: margin-top 0.3s;
  transition: margin-top 0.3s;
  padding: 20px;
}
.lyrics .lyrics-box {
  max-width: 646px;
  width: 100%;
  margin-bottom: 140px;
  background-color: transparent;
  min-height: 170px;
  padding: 20px;
  border-radius: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid rgb(98, 98, 98);
  text-align: center;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  cursor: pointer;
  position: relative;
}
.lyrics .lyrics-box .time {
  position: absolute;
  color: rgb(98, 98, 98);
  bottom: -30px;
}
.lyrics .lyrics-box .lyrics-words {
  border-bottom: 2px solid rgb(98, 98, 98);
  padding: 15px;
  margin-bottom: 15px;
}
.lyrics .lyrics-box p {
  color: rgb(98, 98, 98);
  font-size: 18px;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
.lyrics .lyrics-box:hover {
  background-color: rgba(128, 128, 128, 0.05);
  -webkit-transform: scale(1.009);
      -ms-transform: scale(1.009);
          transform: scale(1.009);
  border: 2px solid white;
}
.lyrics .lyrics-box:hover p {
  color: white;
}
.lyrics .lyrics-box:hover .lyrics-words {
  border-bottom: 2px solid white;
  padding: 15px;
  margin-bottom: 15px;
}
.lyrics .lyrics-box:hover .time {
  position: absolute;
  color: white;
  bottom: -30px;
}
.lyrics .lyrics-box.active {
  -webkit-animation: active 0.2s linear 1;
          animation: active 0.2s linear 1;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  background-color: rgb(204, 200, 177);
  border: 2px solid white;
}
@-webkit-keyframes active {
  from {
    background-color: transparent;
    border: 2px solid rgb(98, 98, 98);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    background-color: rgb(204, 200, 177);
    border: 2px solid white;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
@keyframes active {
  from {
    background-color: transparent;
    border: 2px solid rgb(98, 98, 98);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    background-color: rgb(204, 200, 177);
    border: 2px solid white;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.lyrics .lyrics-box.active .lyrics-words {
  -webkit-animation: border 0.2s linear 1;
          animation: border 0.2s linear 1;
  border-bottom: 2px solid black;
}
@-webkit-keyframes border {
  from {
    border-bottom: 2px solid rgb(98, 98, 98);
  }
  to {
    border-bottom: 2px solid black;
  }
}
@keyframes border {
  from {
    border-bottom: 2px solid rgb(98, 98, 98);
  }
  to {
    border-bottom: 2px solid black;
  }
}
.lyrics .lyrics-box.active p {
  color: black;
  font-weight: 700;
  -webkit-text-stroke: 0.2px white;
  -webkit-animation: activeLetters 0.2s linear 1;
          animation: activeLetters 0.2s linear 1;
}
@-webkit-keyframes activeLetters {
  from {
    color: rgb(98, 98, 98);
    font-size: 18px;
    font-weight: 400;
    -webkit-text-stroke: none;
  }
  to {
    color: black;
    font-weight: 700;
    -webkit-text-stroke: 0.2px white;
  }
}
@keyframes activeLetters {
  from {
    color: rgb(98, 98, 98);
    font-size: 18px;
    font-weight: 400;
    -webkit-text-stroke: none;
  }
  to {
    color: black;
    font-weight: 700;
    -webkit-text-stroke: 0.2px white;
  }
}/*# sourceMappingURL=global.css.map */