body {
    .main-text {
        margin-top: 20px;
        font-size: 50px;
        color: rgb(69, 65, 56);
        text-align: center
    }
}

.s1 {
    margin-top: 130px;

    .content {
        ul {
            display: flex;
            max-width: 300px;
            width: 100%;
            justify-content: space-around;
            margin: 0 auto;

            li {

                button {
                    background-color: rgb(170, 163, 127);
                    border: 2px solid transparent;
                    padding: 10px 15px;
                    color: white;
                    font-weight: 600;
                    border-radius: 50px;
                    cursor: pointer;

                    &:hover {}
                }
            }
        }
    }
}

.s2 {
    margin-top: 120px;

    .container {
        display: flex;
        align-items: center;
        min-height: 100px;
        margin-bottom: 100px;
        position: relative;
        padding: 20px;

        .music-row {
            overflow-x: scroll;
            display: flex;
            min-width: 250px;
            align-items: center;
            scroll-snap-type: x mandatory;
            padding: 20px;
            border-bottom: 1px solid gray;
            border-top: 1px solid gray;

            &::-webkit-scrollbar {
                height: 5px;
                border-radius: 50px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: rgb(169, 165, 145);

                &:hover {
                    background-color: rgb(145, 141, 122);
                }
            }

            .song {
                color: white;
                display: inline-block;
                width: 250px;
                height: 250px;
                flex-shrink: 0;
                border: 2px solid blue;
                margin-right: 20px;
                scroll-snap-align: center;
                position: relative;
                overflow: hidden;
                cursor: pointer;
                transition: all 0.2s;
                opacity: 0.9;

                &:nth-child(1),
                &:nth-child(2) {
                    border: 2px solid transparent;
                }

                &:hover {
                    transform: scale(1.05);
                    border: 2px solid white;
                    opacity: 1;
                }

                img {
                    width: 250px;
                    height: 250px;
                    object-fit: cover;
                    pointer-events: none;
                }

                .song-name {
                    position: absolute;
                    z-index: 2;
                    bottom: -26px;
                    left: 0px;
                    text-align: center;


                    .name-back {}

                    img {
                        width: 300px;
                        opacity: 0.6;
                        transform: rotate(10deg);
                    }

                    h5 {
                        position: absolute;
                        z-index: 3;
                        bottom: 35px;
                        left: 10px;
                        font-size: 18px;
                        font-weight: 600;
                    }
                }

                .logo {

                    opacity: 0.6;

                    .top {
                        transform: rotate(-10deg);
                        position: absolute;
                        top: -30px;
                    }

                    .replicant-logo {
                        position: absolute;
                        top: 0px;
                        left: 5px;
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
    }
}